#content
{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#counterModal
{
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@media (min-width: 768px)
{
  .modal-dialog
  {
    width: auto;
    margin: 30px auto;
  }
}